*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Old Standard TT', serif;
    background-color: white;
}

#background{
    background-color: crimson;
}

.logo-top-left{
    top: 1.2em;
    left: 1.2em;
    width: 115px;
    height: 30px;
    position: absolute;
}

/* text inside of parent div  */
.logo-top-left a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
}

.aboutMe-bottom-left{
    bottom: 1em;
    left: 1em;
    width: 115px;
    height: 30px;
    position: absolute;
}

/* text inside of parent div  */
.aboutMe-bottom-left a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
}

.contactMe-bottom-right{
    bottom: 1em;
    right: 1em;
    width: 115px;
    height: 30px;
    position: absolute;

}

/* text inside of parent div  */
.contactMe-bottom-right a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    text-align: right;
    text-transform: uppercase;
    font-weight: normal;
}

.swiper-button-prev{
    color: rgba(199, 199, 199, 0.795) !important;
}

.swiper-button-next{
    color: rgba(204, 204, 204, 0.705) !important;
}

.swiper-project-slide{
    width: 230px;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-photo{
    position: absolute;
    width: 100%;
    z-index: 0;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}


.landing-title{
    position: absolute;
    text-transform: uppercase;
    font-style: italic;
    font-weight: normal;
    font-size: 2rem;
    width:200px;
    z-index: 1;
    color: black;
    right: 120px;
}

/* project pages  */

.top-margin-gap{
    width: 100%;
    padding: 2em;
}

.content-wrapper{
    margin: 0.5em 0.5em;
    padding: 5vw 5vw;
}

.text-containers{
    width: 60%;
    margin: 0 auto;
}

.content-title{
    font-family: 'Playfair Display', serif;
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.6em 0em;
}

.content-para{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    line-height: 1.5em;
    color: rgb(94, 94, 94);
}

.text-image-gap{
    margin: calc(5em + 5vw) 0;
    width: 100vw;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(150px,300px));
    grid-template-rows: repeat(3, auto);
    grid-gap: 1em;
    width: 60%;
    margin: 0 auto;
    
}

.wrapper-2{
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 300px));
    grid-template-rows: auto;
    width: 60%;
    margin: 0 auto;
}

.brick-1{
    max-width: 100%;
    align-self: center;
    justify-self: center;
}

.brick-1 img{
    max-width: 100%;
}

.brick-2{
    max-width: 60%;
    align-self: start;
    justify-self: start;
}

.brick-2 img{
    max-width: 100%;
}

.brick-3{
    max-width: 70%;
    align-self: start;
    justify-self: end;
}

.brick-3 img{
    max-width: 100%;
}

.brick-4{
    max-width: 100%;
    align-self: start;
    justify-self: start;
}

.brick-4 img{
    max-width: 100%;
}

.brick-5{
    max-width:140%;
    align-self: start;
    justify-self: start;
}

.brick-5 img{
    max-width: 140%;
}

.brick-6{
    max-width: 50%;
    align-self: start;
    justify-self: end;
}

.brick-6 img{
    max-width: 100%;
}

.center-images{
    width: 40%;
    margin: 0 auto;
}

.center-images img{
    max-width: 100%;
    margin-bottom: 6em;
}

.basket-1{
    max-width: 70%;
    align-self: start;
    justify-self: end;
}

.basket-1 img{
    max-width: 100%;
}

.basket-2{
    max-width: 50%;
    align-self: start;
    justify-self: start;
}

.basket-2 img{
    max-width: 100%;
}

.basket-3{
    max-width: 150%;
    align-self: start;
    justify-self: end;
}

.basket-3 img{
    max-width: 150%;
}

.table-1{
    max-width: 120%;
    align-self: start;
    justify-self: start;

}

.table-1 img{
    max-width: 120%;
}

.table-2{
    max-width: 40%;
    align-self: end;
    justify-self: end;
}

.table-2 img{
    max-width: 100%;
}

.table-3{
    max-width: 50%;
    align-self: start;
    justify-self: end;
}

.table-3 img{
    max-width: 100%;
}

.foot-1{
    max-width: 140%;
    align-self: start;
    justify-self: start;
}

.foot-1 img{
    max-width: 140%;
}

.foot-2{
    max-width: 60%;
    align-self: start;
    justify-self: end;
}

.foot-2 img{
    max-width: 100%;
}

.foot-3{
    max-width: 60%;
    align-self: start;
    justify-self: end;
}

.foot-3 img{
    max-width: 100%;
}