*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Old Standard TT', serif;
    background-color: white;
}

#background{
    background-color: crimson;
}

.top-page-margin{
    width: 100%;
    padding-bottom: 1.5em;
}

.logo-top-left{
    display: flex;
    justify-content: left;
    align-self: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    position: fixed;
    background-color: white;
    z-index: 2;
}

.logo-top-left img{
    padding: 5px;
    width: 18vh;
}

.logo-top-left a{
    text-decoration: none;
    padding: 5px;
}

.portfolio-bottom-left{
    display: flex;
    justify-content: center;
    bottom: 1em;
    left: 1em;
    width: 23vh;
    z-index: 2;
    position: fixed;
   
}

/* text inside of parent div  */
.portfolio-bottom-left a{
    text-decoration: none;
    color: #4a4a49;
    font-size: 3vh;
    padding: 5px;
    text-transform: uppercase;
    font-weight: normal;
}

.contactMe-bottom-right{
    display: flex;
    justify-content: center;
    bottom: 1em;
    right: 1em;
    width: 23vh;
    z-index: 2;
    position: fixed;

}

/* text inside of parent div  */
.contactMe-bottom-right a{
    text-decoration: none;
    color: #4a4a49;
    font-size: 3vh;
    padding: 5px 6px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    pointer-events: auto;

}

.swiper-button-prev{
    color: rgba(199, 199, 199, 0.699) !important;
    padding-left: 2em;
    outline: none !important
}

.swiper-button-next{

    color: rgba(204, 204, 204, 0.616) !important;
    padding-right: 2em;
    outline: none !important
}


.landing-photo-link{
    visibility: hidden;
    position: absolute;
    width: 50vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    -webkit-box-shadow: 0px 0px 49px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 49px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 49px -20px rgba(0,0,0,0.75);
}


.landing-photo-link img{
    width: 100%;
}


.landing-title{
    visibility: hidden;
    position: absolute;
    width: 50vh;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 6vh;
    right: 4em;
    z-index: 2;
    color: #363636;

}

@media only screen and (max-width: 510px){
    .landing-photo-link{
        width: 35vh;
    }

    .landing-title{
        font-size: 4vh;
        right: 3em;
    }

    


}

/* project pages  */

.top-margin-gap{
    width: 100%;
    padding: 2em;
}

.content-wrapper{
    margin: 0.5em 0.5em;
    padding: 5vw 5vw;
}

.text-containers{
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.content-title{
    visibility: hidden;
    font-family: 'Playfair Display', serif;
    color: #363636;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.6em 0em;
}

.content-para{
    visibility: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    line-height: 2em;
    color: rgb(94, 94, 94);
}

.text-image-gap{
    margin: calc(2em + 2vw) 0;
    width: 100vw;
}

.wrapper{
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px,300px));
    grid-template-rows: repeat(3, auto);
    grid-gap: 1em;
    width: 60%;
    margin: 0 auto;
    
}

.wrapper-2{
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 300px));
    grid-template-rows: auto;
    width: 60%;
    margin: 0 auto;
}

.center-images{
    visibility: hidden;
    position: relative;
    width: 40%;
    margin: 0 auto;
    
}

.center-images img{
    max-width: 100%;
    margin-bottom: 2em;
}

@media only screen and (max-width: 720px) {
    .content-wrapper{
        padding: 0;
    }

    .text-containers{
        width: 80%;
    }

    .wrapper{
        width: 80%;
    }

    .wrapper-2{
        width: 80%;
    }

    .center-images{
        width: 80%;
    }

    .content-para{
        font-size: 0.7em;
    }

    .content-title{
        font-size: 1em;
    }
}

.brick-1{
    max-width: 100%;
    align-self: center;
    justify-self: center;
}

.brick-1 img{
    max-width: 100%;
}

.brick-2{
    max-width: 60%;
    align-self: start;
    justify-self: start;
}

.brick-2 img{
    max-width: 100%;
}

.brick-3{
    max-width: 70%;
    align-self: start;
    justify-self: end;
}

.brick-3 img{
    max-width: 100%;
}

.brick-4{
    max-width: 100%;
    align-self: start;
    justify-self: start;
}

.brick-4 img{
    max-width: 100%;
}

.brick-5{
    max-width:140%;
    align-self: start;
    justify-self: start;
}

.brick-5 img{
    max-width: 140%;

}

.brick-6{
    max-width: 50%;
    align-self: start;
    justify-self: end;
}

.brick-6 img{
    max-width: 100%;

}

.basket-1{
    max-width: 70%;
    align-self: start;
    justify-self: end;
}

.basket-1 img{
    max-width: 100%;
}

.basket-2{
    max-width: 50%;
    align-self: start;
    justify-self: start;
}

.basket-2 img{
    max-width: 100%;

}

.basket-3{
    max-width: 150%;
    align-self: start;
    justify-self: end;
}

.basket-3 img{
    max-width: 150%;
}

.table-1{
    max-width: 120%;
    align-self: start;
    justify-self: start;

}

.table-1 img{
    max-width: 120%;
}

.table-2{
    max-width: 40%;
    align-self: end;
    justify-self: end;
}

.table-2 img{
    max-width: 100%;
}

.table-3{
    max-width: 50%;
    align-self: start;
    justify-self: end;
}

.table-3 img{
    max-width: 100%;
}

.foot-1{
    max-width: 140%;
    align-self: start;
    justify-self: start;
}

.foot-1 img{
    max-width: 140%;
}

.foot-2{
    max-width: 60%;
    align-self: start;
    justify-self: end;
}

.foot-2 img{
    max-width: 100%;
}

.foot-3{
    max-width: 60%;
    align-self: start;
    justify-self: end;
}

.foot-3 img{
    max-width: 100%;
}

.menera-1{
    max-width: 60%;
    align-self: start;
    justify-self: end;
}

.menera-1 img{
    max-width: 100%;
}

.menera-2{
    max-width: 70%;
    align-self: end;
    justify-self: start;
}

.menera-2 img{
    max-width: 100%;
}

.menera-3{
    max-width: 120%;
    align-self: start;
    justify-self: start;
}

.menera-3 img{
    max-width: 120%;
}
.next-project-button{
    display: flex;
    justify-content: center;
    width: 27vh;
    position: relative;
    margin: 0 auto;
    top: 1.5em;

}

.next-project-button a{
    color: #363635;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: normal;
    font-size: 3vh;
    padding: 5px;
}

/* contact page  */

.list{
    display: grid;
    grid-template-columns: minmax(150px, 400px);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1.5em;
    justify-content: center;
    position: relative;
    top: 30%;
}

.item{
    visibility: hidden;
    width: 100%;
    text-align: center;
}

.item a{
    text-decoration: none;
    color: #363635;;
}

.item h2{
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 4vw;
}

@media only screen and (max-width: 580px){
    .list{
        display: grid;
        grid-template-columns: minmax(150px,260px);
    }


}


