*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
  }

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
    color: #3f3f44;
    width: 100%;
    scroll-behavior: smooth;

}
nav{
    display: flex;
    align-items: center;
    min-height: 8vh;
    padding: 0px 30px;
    background-color: #f7f7f7;

}

.nav-links{
    display: flex;
    background-color: #f7f7f7;;
    justify-content: space-between;
    width: 100%;

}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #3f3f44;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 10px;
}

.main-heading{
    display: grid;
    position: absolute;
    top: 40%;
    left: 12%;
    z-index: -1;

    

}


.main-heading h1{
    letter-spacing: -5px;
    font-size: 7vw;
    font-weight: 900;
    color: #3f3f44;
}

/* add a media query to decrease the valaue of left when it reaches a specific width.   */
.group1{
    position: absolute;
    display: inline-block;
    top: 11vh;
    left: 33.555vw;
}

.group2{
    position: absolute;
    display: inline-block;
    top: 11vh; 
    left: 33.555vw;  
}

.group3{
    position: absolute;
    display: inline-block; 
    top: 11vh;  
    /* Create a media query to decrease the gap when the viewport is shrunk. */
    left: 33.555vw;
    
}

.group1 img{
    width: 100%;
    height: auto;
}

.group2 img{
    width: 100%;
    height: auto;
}

.group3 img{
    width: 100%;
    height: auto;
    margin-right: 35.5vw;
}